body {
    background-image: url( 'https://images3.alphacoders.com/621/621682.jpg');
    background-size: cover
    /* escribí las reglas para el body aquí */
    }
    
    h1 {
        background-color:  rgba(0, 0, 0, 0.8);
        color: #f4e033
    /* escribí las reglas para el h1 aquí */
    }
    
    h2 {
        background-color:orange;
        color: white;
        opacity: 0.4
    /* escribí las reglas para el h2 aquí */
    }